@using AccurateAppend.Websites.Clients.Areas.Shared.Views
@using AccurateAppend.Websites.Clients.HtmlHelpers.Styles
@model AccurateAppend.Websites.Clients.Areas.Order.Automation.Models.DisplayAutomationsModel

@Html.Layout().Promo("My Custom Products")

@Html.Layout().Steps(
  new PageLayoutHtmlHelper.Step("Choose Product", true),
  new PageLayoutHtmlHelper.Step("Upload"),
  new PageLayoutHtmlHelper.Step("Cost Estimate"),
  new PageLayoutHtmlHelper.Step("Finalize Order"),
  new PageLayoutHtmlHelper.Step("Confirmation"))

<style>
    .k-widget.k-datepicker {
      margin-bottom: 0px;
    }

    #usageDateRangeWidget .k-widget.k-datepicker.k-header {
      margin-bottom: 7px;
    }

    #grid tr td, #grid tr th {
      overflow: visible;
    }
</style>

<div class="append-block">
    @using (Html.Layout().Container())
    {

      Html.RenderPartial("~/Areas/Shared/Views/_CartTab.cshtml", CartTabActive.Automation);

      <div id="alert" style="display: none; margin: 20px 0 20px 0;"></div>
      <div class="table-block">
        <div class="heading-box">
          <h2 class="align-text-top">My Custom Products</h2>
        </div>

        <div id="message" class="alert alert-info" style="display: none; margin: 20px 0 20px 0;">
          No custom products found
        </div>
        <div id="grid"></div>
      </div>
    }
</div>

<script id="grid-description-column-template" type="text/x-kendo-template">
    <p class="text-uppercase mb-1 font-weight-bold">#: Description #</p>
    # var i; #
    # for (i = 0; i < Products.length; i++) { #
    <p style="margin-bottom: 2px;">#: Products[i].Desciption #</p>
    # } #
</script>

<script id="grid-commandButton-column-template" type="text/x-kendo-template">
    <a href="javascript:viewModel.selectManifest('#: data.Links.Detail #');" class="btn btn-secondary">Next ></a>
</script>


@section HeadContent
{
    <script src="@Url.Content("~/Areas/Order/Automation/Scripts/SelectRule.js")"></script>
    <script type="text/javascript">
      selectUrl = "@Model.SelectUrl"; // for the next button, pick rule, upload, map
      queryUrl = "@Model.QueryUrl";
      nextUrl = "@Model.NextUrl";
    </script>
}